= form_for(@profile, :html => { :id=>'profile_form'} ) do |profile_form|
  .map_meeting_points
    #map{:style => 'width: 600px; height: 400px;float:left;'}
      :javascript
        var map = L.map('map').setView([52.527377321443, 13.414247631488], 13);
        map.on('click', addMarker);
    .aside
      #meeting_points
        = profile_form.fields_for :meeting_points do |mpf|
          = mpf.text_field :description
          = mpf.hidden_field :lat
          = mpf.hidden_field :lng
  .form_body
    %ul
      %li
        %h2
          Personal Details

      - if @profile.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profiler.errors.count, 'error')} prohibited this profiler from being saved:"
          %ul
            - @profile.errors.full_messages.each do |msg|
              %li= msg
      %li

        = profile_form.label('firstname', t('editing.firstname'))
        = profile_form.text_field :firstname
      %li

        = profile_form.label('lastname', t('editing.lastname'))
        = profile_form.text_field :lastname
      %li

        = profile_form.label('city', t('editing.city'))
        = profile_form.text_field :city
      %li

        = profile_form.label('min_avg', t('editing.min_pace'))
        = profile_form.text_field :min_avg
      %li

        = profile_form.label('max_avg', t('editing.max_pace'))
        = profile_form.text_field :max_avg

      %li

        = profile_form.label('distance',t('editing.max_distance'))
        = profile_form.text_field :distance
      %li
        %label
          =t('daytime_i_want_run')
        %br
        = profile_form.label('start_time', t('editing.start_time'))
        = profile_form.text_field :start_time
      %li

        = profile_form.label('end_time', t('editing.end_time'))
        = profile_form.text_field :end_time
      = profile_form.hidden_field :id

    .actions
      = profile_form.submit t('save'), :class=>'button'



