= javascript_include_tag 'application'
= stylesheet_link_tag 'jquery.ui.timepicker'
= javascript_include_tag 'jquery.ui.timepicker', 'custom'

:javascript
  $(document).ready(function() {
    my_meeting_points(#{@points});
  });

%h1.page-title.entry-title
  = t('profile')
%p 
  = t('profile_map_description')
.entry-content
  = render 'form'



