%p
  %b= t("editing.min_pace")
  = @profile.min_avg
%p
  %b= t("editing.max_pace")
  = @profile.max_avg
%p
  %b= t("editing.max_distance")
  = @profile.distance
%p
  %b= t("editing.tageszeit")
  = t("zw")
  = @profile.start_time
  = t("und")
  = @profile.end_time
  = t("Uhr")
%p
  %b= t("editing.description")
  = @profile.description

= link_to t("edit"), edit_profile_path(@profile)
\|
= link_to t("back"), profiles_path
