.grid.col-one-half.mq2-col-full
  %h2
    = t("sign_up")
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      = f.label :email
      = f.email_field :email, :placeholder => "JohnDoe@gmail.com", :required => "", :class => "required email"
    %div
      = f.label :password
      = f.password_field :password, :required => "", :class => "required password", :minlength => "6"
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation, :required => ""
    %div= f.submit t('sign_up'), :class=>"button"
  = render "devise/shared/links"
