= content_tag_for(:li, conversation) do |conversation|
  - if conversation.is_unread?(current_user)
    = link_to conversation.subject, conversation , {:class => "unreaded"}
    %span.additional_info
      = localize(conversation.created_at, :format => :default) + ", "
      = conversation.originator.email + " | "
      = link_to 'Move to trash', [:trash, conversation], method: :post
  - else
    = link_to conversation.subject,  conversation , {:class => "readed"}
    %span.additional_info
      = localize(conversation.created_at, :format => :default) + ", "
      = conversation.originator.email
      |
      - if conversation.is_completely_trashed?(current_user)
        = link_to 'Untrash', [:untrash, conversation], method: :post
      - else
        = link_to 'Move to trash', [:trash, conversation], method: :post
