.grid.col-one-half.mq2-col-full
  %h2
    = t('forgot_your_password')

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %div
      = f.label :email
      = f.email_field :email, :placeholder => "JohnDoe@gmail.com", :required => "", :class => "required email"
    %div= f.submit t("send"), :class=>"button gform_button"
  = render "devise/shared/links"
