= stylesheet_link_tag "MarkerCluster", "MarkerCluster.Default", "MarkerCluster.Default.ie"

:javascript

  $(document).ready(function() {
    initmap(#{@lat},#{@lng});
  });
#content
  %h1.page-title.entry-title
    = t("map")
  .entry-content
    #gform_wrapper_2.gf_browser_chrome.gform_wrapper
      #map{:style => "width: 700px; height: 400px"}


#sidebar-secondary.sidebar
  = render 'form'

